body {
  text-align: center;
  background-color: #efefef;

  
}


.ProductContainer > div{
  text-align: center;
  width: 300px;
  box-shadow: 0 5px 5px #eeeeee;
  margin: 10% 35%;
  
} 
.ProductContainer > div > h3 {
  margin-left: 30%;
} 


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(104, 228, 217);
  border: none;
  border-radius: 16px 16px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 40%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover {
  background-color: rgb(58, 118, 185);
  font-size: 25px;
}

.button:hover span {
  padding-right: 25px;
  
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}